/* 기본적인 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;  /* 배경색 */
}

header {
    background-color: #333;  /* 헤더 배경색 */
    color: white;  /* 헤더 글자색 */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #007BFF;  /* 네비게이션 배경색 */
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;  /* 링크 글자색 */
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffcc00;  /* 링크 hover시 색 */
}

section {
    padding: 20px;
    background-color: #ffffff;  /* 섹션 배경색 */
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* 섹션 그림자 */
}

footer {
    background-color: #333;  /* 푸터 배경색 */
    color: white;  /* 푸터 글자색 */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
